.#*
.emacs.d/auto-save-list
.emacs.d/project-persist
.emacs.d/places
.emacs.d/ac-comphist.dat
.emacs.d/ede-projects.el
.emacs.d/places
.emacs.d/.graphene-geometry
.emacs.d/projectile-bookmarks.eld
.emacs.d/semanticdb
.emacs.d/eshell
.emacs.d/image-dired
.emacs.d/request
.emacs.d/backups
.emacs.d/.*
.emacs.d/elpa/*.txt
.emacs.d/url
.Rh*